// FOR FONTS

@font-face {
    font-family: 'Barlow';
    src: url(../fonts/Barlow-Bold.woff2) format(woff2);
    font-weight: 700;
}

@font-face {
    font-family: 'Barlow';
    src: url(../fonts/Barlow-Regular.woff2) format(woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'Barlow';
    src: url();
}

@font-face {
    font-family: 'Fraunces';
    src: url(../fonts/Fraunces_9pt-Black.woff2) format(woff2);
    font-weight: 900;
}