// MAIN
@import "reset";
@import "fonts";
@import "variables";
@import "common";

// BLOCKS
@import "./blocks/nav";
@import "./blocks/hero";
@import "./blocks/coffee__types";
@import "./blocks/choice";
@import "./blocks/instruction";
@import "./blocks/footer";

.body{
    background-color: #FEFCF7;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 80px;
}
@media screen and (max-width: 1024px){
    .container{
        padding: 0px 40px;
    }
}